body {
  font-family: "Lustria", serif;
  color: #1995a8;
}

.Current {
  padding: 16px;
  margin: 30px auto;
  max-width: 500px;
  background-color: transparent;
  border: 1px solid darkgrey;
  border-radius: 10px;
  border-radius: 30px;
  background: rgb(255, 255, 255);
  background: radial-gradient(
    circle,
    rgb(245, 245, 245) 0%,
    rgba(175, 175, 175) 94%
  );
  -webkit-box-shadow: 6px 7px 18px -6px rgba(145, 145, 145, 1);
  -moz-box-shadow: 6px 7px 18px -6px rgba(145, 145, 145, 1);
  box-shadow: 6px 7px 18px -6px rgba(145, 145, 145, 1);
}

.Weather li {
  font-size: 16px;
  font-weight: 100;
  line-height: 19px;
  list-style: none;
  position: relative;
  left: -40px;
  top: -5px;
}
.CityName {
  margin: 5px;
  padding: 5px;
  position: relative;
  left: 20px;
  font-size: 35px;
}

.Date {
  font-size: 16px;
  font-weight: 100;
  line-height: 19px;
  list-style: none;
  margin: 5px;
  padding: 5px;
  position: relative;
  left: -12px;
  top: -5px;
}
.Icon {
  width: 70%;
  position: relative;
  top: -16px;
  left: 30px;
}
.Description {
  font-size: 32px;
  font-weight: 100;
  line-height: 19px;
  position: relative;
  left: 20px;
}
.Temperature {
  font-size: 50px;
  font-weight: bold;
  line-height: 60px;
  position: relative;
  top: -2px;
}
