.Forecast {
  text-align: center;
  padding: 16px;
  margin: 30px auto;
  max-width: 500px;
  background-color: transparent;
}

.Icon {
  width: 20%;
  position: relative;
  top: 5px;
  left: -36px;
}

.hours {
  text-align: center;
}
.row .col {
  height: 100px;
}
