.Forecast {
  padding: 16px;
  margin: 60px auto;
  max-width: 500px;
  background-color: transparent;
  border: 1px solid darkgrey;
  border-radius: 10px;
  border-radius: 30px;
  background: rgb(255, 255, 255);
  background: radial-gradient(
    circle,
    rgb(245, 245, 245) 0%,
    rgba(175, 175, 175) 94%
  );
}
