.Forecast {
  text-align: center;
  padding: 130px;
  margin: 70px;
  max-width: 500px;
}

.Icon {
  width: 10%;
  position: relative;
  top: 5px;
  left: -36px;
}

.temperatures {
  position: relative;
  left: 20px;
}

.hours {
  text-align: center;
}
.row .col {
  height: 100px;
}
