small {
  position: relative;
  left: 530px;
  top: -25px;
}

form {
  margin: 0 auto;
  text-align: center;
  color: transparent;
  border-radius: 5px;
}
.button:hover {
  background-color: #1995a8;
}
